html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #070714;
  color: #f9f9f9;

  font-family: Avenir, sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Avenir';
  src: local('Avenir Roman'), local('Avenir-Roman'),
    url('./assets/fonts/Avenir-Roman.ttf') format('woff2'),
    url('./assets/fonts/Avenir-Roman.woff') format('woff'),
    url('./assets/fonts/Avenir-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    font-size: 15px;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
}
